<!--
   ___                        ___      _   _
  / __|___ ___ _ _ __ _ ___  | _ )_  _| |_| |_ ___ _ _
 | (_ / -_) _ \ '_/ _` / -_) | _ \ || |  _|  _/ -_) '_|
  \___\___\___/_| \__, \___| |___/\_,_|\__|\__\___|_|
                  |___/
Hello, thanks for checking out my code.
This is a custom site built on a custom cms by me.
 -->
<html>
  <head>
    {% include 'snippets/admin-meta' %}
  </head>
  <body>
    <h1>{{ page_title }}</h1>
    <a href="/admin/logout"/>Logout</a>
  </body>
</html>
