<!--
   ___                        ___      _   _
  / __|___ ___ _ _ __ _ ___  | _ )_  _| |_| |_ ___ _ _
 | (_ / -_) _ \ '_/ _` / -_) | _ \ || |  _|  _/ -_) '_|
  \___\___\___/_| \__, \___| |___/\_,_|\__|\__\___|_|
                  |___/
Hello, thanks for checking out my code.
This is a custom site built on a custom cms by me.
 -->
<html>
  <head>
    {% include 'snippets/admin-meta' %}
  </head>
  <body>
    <h1>{{ page_title }}</h1>
    {% if errors %}
      <ul>
        {% for error in errors %}
          <li>{{ error }}</li>
        {% endfor %}
      </ul>
    {% endif %}
    <form action="/install/admin" method="post" novalidate>
      <h3>Create an admin account</h3>
      <div>
        <label for="Username">
          <span>Username</span>
          <abbr title="required">*</abbr>
        </label>
        <input id="Username" type="text" name="username" placeholder="Username" required/>
      </div>
      <div>
        <label for="Email">
          <span>Email</span>
          <abbr title="required">*</abbr>
        </label>
        <input id="Email" type="email" name="email" placeholder="Email" required/>
      </div>
      <div>
        <label for="Password">
          <span>Password</span>
          <abbr title="required">*</abbr>
        </label>
        <input id="Password" type="password" name="password" placeholder="Password" required/>
      </div>
      <div>
        <label for="ConfirmPassword">
          <span>Confirm Password</span>
          <abbr title="required">*</abbr>
        </label>
        <input id="ConfirmPassword" type="password" name="confirm" placeholder="Confirm Password" required/>
      </div>
      <div>
        <input type="submit" value="Submit">
      </div>
    </form>
  </body>
</html>
