<html>
  <head>
    <title>{{ site.name }}{{ site.description }}</title>
    <script defer="defer" src="/admin/assets/admin.bundle.js"></script>
    <script defer="defer" src="/admin/assets/{{ template }}.bundle.js"></script>
  </head>
  <body>
    {% block 'content' %}
      <h1>Admin</h1>
    {% endblock %}
  </body>
</html>
