
@tailwind preflight;

@tailwind components;

@tailwind utilities;


html {
  height: 100%;
}

.ratio-1\:1 {
  position: relative;
}
.ratio-1\:1:before {
  content: "";
  display: block;
  padding-top: 100%;
}
