
@tailwind preflight;

@tailwind components;

@tailwind utilities;


html {
  height: 100%;
  font-size: 16px;
}

.ratio-1\:1 {
  position: relative;
}
.ratio-1\:1:before {
  content: "";
  display: block;
  padding-top: 100%;
}

input::placeholder {
  color: var(--grey-light);
}

.transition-width {
  transition: width ease-in-out 0.3s;
  will-change: width;
}
.transition-max-width {
  transition: max-width ease-in-out 2.5s;
  will-change: max-width;
}
.transition-padding-left {
  transition: padding-left ease-in-out 0.3s;
  will-change: padding-left;
}
.transition-background-color {
  transition: background-color ease-in-out 0.3s;
  will-change: background-color;
}

.translate-y-full {
  transform: translateY(100%);
}
.translate-y\:-100 {
  transform: translateY(-100%);
}

.translate-x\:-50 {
  transform: translateX(-50%);
}

.rotate-45 {
  transform: rotate(45deg);
}

.pin-l-50 {
  left: 50%;
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 19px;
}
.lds-ellipsis div {
  position: absolute;
  top: 4px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 6px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 6px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 26px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 45px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(19px, 0);
  }
}

.rte {
  @apply pb-8;
}

.rte h2 {
  @apply text-2xl mb-2;
}

.rte p {
  @apply font-serif mb-2;
}

.rte pre {
  @apply bg-grey text-primary rounded-lg p-8 mb-4 overflow-x-auto block;
}

.rte code {
  @apply font-mono;
}

/* PrismJS 1.17.1
https://prismjs.com/download.html#themes=prism-tomorrow&languages=markup+css+clike+javascript */
/**
 * prism.js tomorrow night eighties for JavaScript, CoffeeScript, CSS and HTML
 * Based on https://github.com/chriskempson/tomorrow-theme
 * @author Rose Pritchard
 */

.rte code[class*="language-"],
.rte pre[class*="language-"] {
	color: #ccc;
	font-size: 1em;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	line-height: 1.5;

	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;

	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;

}

/* Code blocks */
.rte pre[class*="language-"] {
	padding: 1em;
	margin: .5em 0;
	overflow: auto;
}

.rte :not(pre) > code[class*="language-"],
pre[class*="language-"] {
  @apply bg-grey;
}

/* Inline code */
.rte :not(pre) > code[class*="language-"] {
	padding: .1em;
	border-radius: .3em;
	white-space: normal;
}

.rte .token.comment,
.rte .token.block-comment,
.rte .token.prolog,
.rte .token.doctype,
.rte .token.cdata {
	@apply text-grey-lighter;
}

.rte .token.punctuation {
	@apply text-grey-lightest;
}

.rte .token.tag,
.rte .token.attr-name,
.rte .token.namespace,
.rte .token.deleted {
	@apply text-accent;
}

.rte .token.function-name {
	@apply text-cyan;
}

.rte .token.boolean,
.rte .token.number,
.rte .token.function {
	@apply text-orange;
}

.rte .token.property,
.rte .token.class-name,
.rte .token.constant,
.rte .token.symbol {
	@apply text-yellow;
}

.rte .token.selector,
.rte .token.important,
.rte .token.atrule,
.rte .token.keyword,
.rte .token.builtin {
	@apply text-pink;
}

.rte .token.string,
.rte .token.char,
.rte .token.attr-value,
.rte .token.regex,
.rte .token.variable {
	@apply text-green;
}

.rte .token.operator,
.rte .token.entity,
.rte .token.url {
	@apply text-primary;
}

.rte .token.important,
.rte .token.bold {
	font-weight: bold;
}
.rte .token.italic {
	font-style: italic;
}

.rte .token.entity {
	cursor: help;
}

.rte .token.inserted {
	@apply text-green;
}
